<?xml version="1.0"?>
<robot name="agv" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="rplidar">
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0.0 0 0" rpy=" 0 0 0"/>
        <inertia
            ixx="1e-6" ixy="0" ixz="0"
            iyy="1e-6" iyz="0"
            izz="1e-6"
        />
      </inertial>

      <collision name='collision'>
        <origin xyz="0.0 0 0" rpy=" 0 0 0"/>
        <geometry>
          <box size="0.1 0.1 0.1"/>
        </geometry>
      </collision>

      <visual name='rplidar_visual'>
        <origin xyz="0.0 0 0" rpy=" 0 0 0"/>
        <geometry>
          <mesh filename="package://agv_description/meshes/sensors/rplidar.dae"/>
        </geometry>
      </visual>
    </link>

    <joint type="fixed" name="rplidar_joint">
      <origin xyz="0.15 0 0.1" rpy="0 0 0"/>
      <child link="rplidar"/>
      <parent link="agv_base_footprint"/>
      <axis xyz="0 1 0" rpy="0 0 0"/>
      <limit effort="10000" velocity="1000"/>
      <dynamics damping="1.0" friction="1.0"/>
    </joint>

</robot>
